MBKM
PROSPECTIVE STUDENTS
WELCOMING THE INTERNATIONALS
ALUMNI & CAREER
LECTURERS & STAFF
MEDIA & PARTNERS
ACCREDITATIONS & ACHIEVEMENTS
BAHASA
Universitas
Sumatera Utara
ABOUT USU
EDUCATION
ADMISSION
RESEARCH
COMMUNITY SERVICE
INNOVATION
search
Activities
Announcements
SBPU Talenta USU 2023 Interview Selection Requirements
SBPU Talenta USU 2023 Interview Selection Requirements
Published At
05 July 2023
Published By
Bambang Riyanto
SBPU Talenta USU 2023 Interview Selection Requirements
 

Published by

Bambang Riyanto

Published at

Wednesday, 05 July 2023

Documents

announcement-ketentuan-seleksi-wawancara-sbpu-talenta-usu-2023-kmlg

PNG

Description

The Interview Selection will be held at the USU Faculty of Economics & Business Hall Jl. Prof.T. Hanafiah Pintu III USU Campus Padang Bulan Medan.

 

Requirements:

The things that must be aware for interview participants are:

- All participants must bring original documents such as participant cards, certificates of achievement, diplomas/certificates of completion (SKL);

 

- Participants in the field of sports and arts are required to bring equipment for their field/expertise;

 

- Candidates who pass the administrative selection will be disqualified if they fail to attend the interview as scheduled

 

Attachments:

https://konten.usu.ac.id/storage/posts/27446/announcement-ketentuan-seleksi-wawancara-sbpu-talenta-usu-2023-kmlg.png 

Author: Universitas Sumatera Utara -

Interviewee: Universitas Sumatera Utara -

Photographer: Universitas Sumatera Utara -

Announcement
Instruction
Find More Announcements
Announcements
Second Tender Announcement: Selection of a Cooperation Partner for the Utilization of the Former Library Canteen Building of USU
Announcements
Recruitment Selection Process for Permanent Faculty Positions at Universitas Sumatera Utara for 2025 Academic Year
Announcements
Procedures for Re-registration of New Students Admitted through SMM 2025

Chatting with

Halo USU

close

Halo,
Dengan Layanan Bantuan USU
Ada yang bisa kami bantu hari ini?
-Admin

SEND

UNIVERSITAS
SUMATERA UTARA

Jl. Dr. T. Mansur No. 9, Kampus Padang Bulan, Medan, 20155, Sumatera Utara
call
0821 6888 9060
mail_outline
info@usu.ac.id
Information Systems
Integrated Service Unit
Frequently Asked Questions
Usage Rules
Website Copyright
Sitemap
PPID
Lapor
E-Procurement
Surveys
Archives
Career at USU

Copyright 2025 - Universitas Sumatera Utara